# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [54]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_k
ey

In [55]:
g_key

'AIzaSyD_gK8UvTkCZpwaKGGyRElFuOZlSxQT8-A'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [56]:
csv_path = os.path.join("output_data/cities.csv")
cities = pd.read_csv(csv_path)
cities.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,sragen,-7.4264,111.0222,26.68,77,92,1.63,ID,1613955193
1,1,severo-yeniseyskiy,60.3725,93.0408,-26.32,90,100,1.13,RU,1613955194
2,2,puerto ayora,-0.7393,-90.3518,24.44,93,69,3.57,EC,1613955025
3,3,mar del plata,-38.0023,-57.5575,24.00,60,75,4.12,AR,1613954750
4,4,hilo,19.7297,-155.0900,26.00,65,90,6.17,US,1613954598

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [57]:
gmaps.configure(api_key = g_key)

In [58]:
locations = cities[["Latitude", "Longitude"]]
humidity = cities["Humidity"]

In [59]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [60]:
#My perfect climate is below 70 degrees farenheit, little to no wind and almost no humidity! (Aka where I already live)
perfect = cities.loc[(cities["Max Temp (Celsius)"] <= 40)&(cities["Wind Speed"] < 3) &(cities["Humidity"] < 40)]
perfect.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date
50,50,maridi,4.9158,29.4742,17.66,29,0,0.55,SS,1613955208
106,106,zemio,5.0314,25.1361,18.50,36,100,0.92,CF,1613955225
177,177,guerrero negro,27.9769,-114.0611,22.54,21,0,2.71,MX,1613954938
196,196,pahrump,36.2083,-115.9839,16.11,16,0,1.34,US,1613955149
222,222,laguna,38.4210,-121.4238,17.00,34,1,2.57,US,1613954941

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [61]:
hotel_df = perfect

hotel_df["Hotel Name"] = ""

<ipython-input-61-db1967d007cf>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"] = ""

In [62]:

params = {
    "radius" : 50000,
    "types": "hotel",
    "keyword": "hotels",
    "key": g_key
}


for index, row in hotel_df.iterrows():

   #get lat and long 
    lat = row['Latitude']
    lng = row['Longitude']

    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {hotel_name}.")
    response = requests.get(base_url, params=params).json()
    

    
    try:
       # print(f"Closest hotel is {hotel_name}{results[0]['name']}.")
        
        
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]['name']
        hotel_df.loc[index, 'Hotel Address'] = response["results"][0]['vicinity']
   
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Missing field/result... skipping.
Missing field/result... skipping.

/Users/madelinesachtler/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
/Users/madelinesachtler/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)

In [63]:
hotel_df

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,Hotel Address
50,50,maridi,4.9158,29.4742,17.66,29,0,0.55,SS,1613955208,,NaN
106,106,zemio,5.0314,25.1361,18.50,36,100,0.92,CF,1613955225,,NaN
177,177,guerrero negro,27.9769,-114.0611,22.54,21,0,2.71,MX,1613954938,Hotel TerraSal,"Emiliano Zapata s/n, Fundo Legal, Guerrero Negro"
196,196,pahrump,36.2083,-115.9839,16.11,16,0,1.34,US,1613955149,Mount Charleston Cabins,"5355 Kyle Canyon Rd, Las Vegas"
222,222,laguna,38.4210,-121.4238,17.00,34,1,2.57,US,1613954941,Kimpton Sawyer Hotel,"500 J St, Sacramento"
293,293,touba,8.2833,-7.6833,25.48,28,100,0.50,CI,1613955281,Hotel Savane,"Unnamed Road, Touba"
295,295,te anau,-45.4167,167.7167,21.32,30,100,2.83,NZ,1613954885,Cabot Lodge,"268 Hillside-Manapouri Rd, Te Anau"
301,301,cananea,30.9500,-110.3000,13.89,13,0,0.89,MX,1613955283,Americas Best Value Inn & Suites Bisbee,"1372 AZ-92, Bisbee"
308,308,tura,25.5198,90.2201,17.36,37,0,1.22,IN,1613955086,Hotel Polo Orchid,"Araimile, Tura"
328,328,namie,37.4833,141.0000,19.44,33,0,0.45,JP,1613955290,ホテル丸屋グランデ,"2 Chome-28 Haramachiku Asahicho, Minamisōma"
409,409,mitha tiwana,32.2486,72.1108,16.46,34,92,1.76,PK,1613955318,Gulzar Hotel & Restaurant,"Old bus stand, Jauharabad"
449,449,barstow,34.8986,-117.0228,17.00,15,0,2.57,US,1613955083,Home2 Suites by Hilton Victorville,"12792 Amargosa Rd, Victorville"
455,455,ashoknagar,24.5667,77.7167,15.81,31,37,0.88,IN,1613955332,Hotel Samarsingha's,"Nanakhedi in front of Mandi Gate, AB Rd, Guna"
474,474,turbat,26.0023,63.0440,14.82,38,0,0.37,PK,1613955337,Shapur Hotel,"Main Rd, Turbat"
488,488,dharangaon,21.0167,75.2667,20.16,25,0,2.41,IN,1613955340,Four Seasons Recreation Pvt Ltd,"MIDC, Jalgaon"
509,509,yuci,37.6803,112.7319,7.00,31,0,2.00,CN,1613955347,Intercontinental Taiyuan,"No. 8 Changxing South Street, Taiyuan"
510,510,koubia,11.5833,-11.9000,23.20,24,53,1.04,GN,1613955347,Hôtel Djamtum,"Quartier Koulidara, Labe"
515,515,wanaka,-44.7000,169.1500,22.22,36,100,2.24,NZ,1613955349,Kamana Lakehouse,"139 Fernhill Rd, Fernhill, Queenstown"
523,523,dabola,10.7500,-11.1167,26.59,24,0,0.79,GN,1613955351,Hotel Le Mont Sincery De Dabola.,Dabola
533,533,altar,30.7000,-111.8167,22.78,9,0,1.79,MX,1613955354,Hotel Jardin,"Calle 4 51-60, Centro, Caborca"
534,534,pingdingshan,33.7385,113.3012,17.10,28,0,2.60,CN,1613955354,Sanding Huayue Hotel,"Xuchang, Weidu District, Wenfeng Middle Rd, 文峰中路"

In [64]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]
humidity = hotel_df["Humidity"]

In [65]:
#Add marker layer ontop of heat map

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                 dissipating=False, max_intensity=60,
                                 point_radius=1)
marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)


# Add layer
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))