# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [74]:
g_key

'AIzaSyD_gK8UvTkCZpwaKGGyRElFuOZlSxQT8-A'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [75]:
csv_path = os.path.join("output_data/cities.csv")
cities = pd.read_csv(csv_path)
cities.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date
0,0,iqaluit,63.7506,-68.5145,-21.00,77,75,2.57,CA,1613452007
1,1,tasiilaq,65.6145,-37.6368,-3.00,80,90,0.41,GL,1613451787
2,2,katherine,-14.4667,132.2667,32.00,66,40,1.03,AU,1613452007
3,3,jamestown,42.0970,-79.2353,-5.00,93,90,7.20,US,1613452008
4,4,safford,32.8340,-109.7076,6.67,70,1,2.57,US,1613452008

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [76]:
gmaps.configure(api_key = g_key)

In [77]:
locations = cities[["Latitude", "Longitude"]]
humidity = cities["Humidity"]

In [78]:
# ALL MY BUBBLES ARE THE SAME SIZE ... WHAT IS WRONG WITH MY CODE?? ### 

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=60,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [56]:
#My perfect climate is below 70 degrees farenheit, little to no wind and almost no humidity! (Aka where I already live)
perfect = cities.loc[(cities["Max Temp (Celsius)"] <= 40)&(cities["Wind Speed"] < 3) &(cities["Humidity"] < 40)]
perfect.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date
27,27,deder,9.3167,41.4500,16.38,35,14,1.69,ET,1613452015
37,37,salumbar,24.1333,74.0500,25.00,36,0,1.18,IN,1613452018
65,65,zemio,5.0314,25.1361,19.11,36,100,0.57,CF,1613452028
111,111,lodwar,3.1191,35.5973,29.46,34,51,2.31,KE,1613452043
122,122,chandbali,20.7833,86.7667,29.85,38,0,2.06,IN,1613452046

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [115]:
hotel_df = perfect

hotel_df["Hotel Name"] = ""

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,name,address
27,27,deder,9.3167,41.4500,16.38,35,14,1.69,ET,1613452015,,Deder,Deder
37,37,salumbar,24.1333,74.0500,25.00,36,0,1.18,IN,1613452018,,Deder,Deder
65,65,zemio,5.0314,25.1361,19.11,36,100,0.57,CF,1613452028,,Deder,Deder
111,111,lodwar,3.1191,35.5973,29.46,34,51,2.31,KE,1613452043,,Deder,Deder
122,122,chandbali,20.7833,86.7667,29.85,38,0,2.06,IN,1613452046,,Deder,Deder

In [120]:

params = {
    "radius" : 5000,
    "type": "hotel",
    "key": g_key,
}


for index, row in hotel_df.iterrows():

   #get lat and long 
    lat = row['Latitude']
    lng = row['Longitude']

    params["location"] = f"{lat},{lng}"
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # assemble url and make API request
    #print(f"Retrieving Results for Index {index}: {hotel_name}.")
    response = requests.get(base_url, params=params).json()
    

    
    try:
       # print(f"Closest hotel is {hotel_name}{results[0]['name']}.")
        
        
        hotel_df.loc[index, 'Hotel Name'] = response["results"][0]['name']
        hotel_df.loc[index, 'Hotel Address'] = response["results"][0]['vicinity']
   
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------
------------

In [121]:
hotel_df.head()

,Unnamed: 0,City,Latitude,Longitude,Max Temp (Celsius),Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name,name,address,Hotel Address
27,27,deder,9.3167,41.4500,16.38,35,14,1.69,ET,1613452015,Deder,Deder,Deder,Deder
37,37,salumbar,24.1333,74.0500,25.00,36,0,1.18,IN,1613452018,Salumbar,Deder,Deder,Salumbar
65,65,zemio,5.0314,25.1361,19.11,36,100,0.57,CF,1613452028,Zemio,Deder,Deder,Zemio
111,111,lodwar,3.1191,35.5973,29.46,34,51,2.31,KE,1613452043,Lodwar,Deder,Deder,Lodwar
122,122,chandbali,20.7833,86.7667,29.85,38,0,2.06,IN,1613452046,Chandbali,Deder,Deder,Chandbali

In [105]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure